# Maven
/target/
**/target/
.mvn/
!.mvn/wrapper/maven-wrapper.jar

# IDEs
.idea/
*.iml
.project
.classpath
.settings/
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Java
hs_err_pid*

# Build outputs
*.jar
*.war
*.ear

# Coverage/Reports
**/jacoco.exec
**/site/

# Env
*.env
.env